
panda3d-gltf
panda3d-simplepbr
#git+https://github.com/prasanthcodes/panda3d-simplepbr
gltflib



# python 3.10

#Panda3D==1.10.14
#panda3d-simplepbr==0.13.1
#panda3d-gltf==1.2.1
#panda3d-pman==0.16.0
#panda3d-blend2bam==0.26.0
#panda3d-complexpbr==0.6.0
#panda3d-imgui==1.0.2



